{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint-config-prettier",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier", "eslint-plugin-prettier", "react", "standard", "@typescript-eslint", "react-hooks"],
  "rules": {
    "prettier/prettier": "off",
    "semi": "off",
    "no-unused-vars": [
      "off",
      {
        "vars": "local",
        "args": "none",
        "ignoreRestSiblings": false,
        "varsIgnorePattern": "React",
        "argsIgnorePattern": "^_",
        "caughtErrors": "none"
      }
    ]
  }
}
