{
  "parser": "@typescript-eslint/parser",
  "extends": ["react-app", "prettier", "plugin:@typescript-eslint/eslint-recommended"],
  "plugins": ["react", "prettier", "standard", "@typescript-eslint", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "semi": ["error", "never"],
    "no-unused-vars": [
      "off",
      {
        "vars": "local",
        "args": "none",
        "ignoreRestSiblings": false,
        "varsIgnorePattern": "React",
        "argsIgnorePattern": "^_",
        "caughtErrors": "none"
      }
    ]
  }
}
