{
  "env": {
    "commonjs": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "process": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint-config-prettier",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier", "eslint-plugin-prettier", "react", "standard", "@typescript-eslint", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": "off",
    "semi": "off",
    "no-unused-vars": [
      "off",
      {
        "args": "none",
        "ignoreRestSiblings": false,
        "varsIgnorePattern": "React",
        "argsIgnorePattern": "^_",
        "caughtErrors": "none"
      }
    ],
    "no-extra-boolean-cast": 0
  }
}
