.truncate-overflow {
  --max-lines: 3;
  /* max-height: calc(var(--lh) * var(--max-lines)); */
  /* max-height: calc(100% - var(--max-lines) * 1.1em); */
  max-height: 49px;
  overflow: hidden;
}
.truncate-overflow::before {
  content: "...";
  position: absolute;
  bottom: 4px;
  right: 2px;
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0; /* note: not using bottom */
  width: 1rem;
  height: 1rem;
  /* background: white; */
}

.truncate-overflow-single-line {
  --max-lines: 1;
  max-height: 27px;
  overflow: hidden;
}

.truncate {
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
